.generic-content-container {
    p { 
        font-weight:300;
        line-height: 1.4;
        font-size: 1.1rem;
        margin: 0 0 1.8rem 0;
        padding-bottom: .8rem;
        @mixin atSmall {
            font-size: 1.25rem;
            line-height: 1.4;
        }
    }
    
    p a {
        font-weight:700;
    }
}
